fastapi
uvicorn[standard]
celery
redis
requests
pydantic
python-dotenv

# AI Agent
langchain
langchain-community
langchain-core
langchain-groq

# Bonus Features
slowapi
structlog

# Database
sqlalchemy
mysql-connector-python